body::-webkit-scrollbar{
	width: 10px; /* altere a largura aqui */
}

body::-webkit-scrollbar-track{
	background: #0c0c0c; /* altere a cor do fundo aqui */
}

body::-webkit-scrollbar-thumb{
	background: linear-gradient(180deg, #AE24F1 0%, #514AF5 100%); /* altere a cor da barra aqui */
	border-radius: 10px; /* altere o arredondamento da barra aqui ou remova */
	border: 2px solid #0c0c0c; /* altere a cor da borda aqui */
}
